__pycache__/
*.py[cod]

venv/
.venv/

*.mp4
*.avi
*.mov
*.mkv
*.whl

output/
recordings/
test_result*/

Dataset/
checkpoints/
checkpoints_new/
checkpoints_old/
checkpoints_zoo/
torchvision/

.DS_Store
